//FONT IMPORTS
@import url('https://fonts.googleapis.com/css?family=Nunito|PT+Serif');

//Variables
$black: #191919;
$mint: #c0e8dd;
$pink: #f6d9ea;
$lilac: #d2d5ea;
$mist: #f3f3f3;
$blue: #bddce3;


//Base Styles

